/* GOOGLE FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* TOPAV NAVIGATION  */

.topnav {
    display: flex;
    height: 40px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    width: min(100% - 9vw, 1128px);
    margin-inline: auto;
}

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}

.menu__icon,
.overlay {
    display: none;
}

/* INOUT SEARCH  */
input {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #000;
    display: none;
    outline: none;
}

input,
#search__icon,
.logo_img,
.copy {
    cursor: pointer;
}


.serach_menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row-reverse;
}

.searc__field {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    align-items: center;
}

/* HERO SECTION  */
.hero {
    background-image: url(./images/Heroimg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
    z-index: 1;
    background-position: center;
}

/* HERO TEXT  */
.hero_txt p:first-of-type {
    font-size: clamp(2rem, 9vw, 2.5rem);
    font-weight: 800;
}

.hero_txt p:nth-child(2) {
    font-size: clamp(1rem, 9vw, 1.5rem);
    font-weight: 400;
}

.hero_txt {
    color: #fff;
    font-size: 1rem;
    position: absolute;
    left: 40%;
    text-align: center;
    top: 70px;
}

/* HERO TEXT LINKS  */

.hero_txt_link {
    padding-top: 1rem;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.hero_txt_link a {
    color: aqua;
    text-decoration: none;
    border-bottom: transparent;
}

.hero_txt_link a:hover {
    text-decoration: underline;
}

/* MAIN CONTENT  */
main,
body {
    background-color: red;
}

aside {
    width: min(100% - 7vw, 1200px);
    margin-inline: auto;
    position: relative;
    margin-top: 8px;
}

.aside_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    top: 50px;
    left: 43%;
    position: absolute;
}

.aside_txt h2 {
    color: #1d1d1f;
    text-align: center;
    font-weight: 800;
    font-size: clamp(20px, 2.5vw, 30px);
}

.txt-2 {
    left: 35%;
}

.aside_txt p {
    font-size: clamp(16px, 2.5vw, 20px);
}

.aside_link {
    display: flex;
    align-items: center;
    gap: 3px;
}

.aside_link a {
    text-decoration: none;
    color: cyan;
}

.aside_link a:hover {
    text-decoration: underline;
}

.aside_img-sm,
.txt_sm {
    display: none;
}

/* ARTICLE SECTION */
.container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
}

.section_1 {
    position: relative;
}

.section_txt {
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;
}

.section_txt h2 {
    font-size: clamp(25px, 2.5vw, 30px);
}

.section_txt p {
    font-size: clamp(14px, 2.5vw, 18px);
}

.section_1_link a {
    text-decoration: none;

}

.section_1_link a:hover {
    text-decoration: underline;
}

.section_1_link,
.section_txt h2,
p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
}

.section_1_link {
    display: flex;
    align-items: center;
    gap: 3px;
}

.blc {
    color: #fff;
}

.section_bto {
    position: absolute;
    top: 65%;
}

@media screen and (max-width: 1024px) {
    .navlinks {
        gap: 1rem;
    }
}

@media screen and (max-width: 960px) {

    .navlinks,
    .copy {
        display: none;
    }

    input {
        width: 150px;
        height: 20px;
    }

    .menu__icon,
    .overlay {
        display: block;
    }

    .overlay {
        position: fixed;
        height: 100vh;
        width: 0;
        overflow: hidden;
        transition: all ease-out .4s;
        background-color: #000;
    }

    .overlay__nav__content a {
        color: #fff;
        cursor: pointer;
        font-size: 15px;
        text-decoration: none;
        line-height: 3;
        font-weight: 700;
        text-transform: capitalize;
    }

    .overlay__nav__content a:hover {
        color: #444;
    }

    .overlay__nav__content {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 2rem;
        left: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .hero_txt {
        left: 35%;
    }

    .aside_txt h2 {
        font-weight: 700;
        font-size: clamp(28px, 2.5vw, 35px);
    }

    .aside_txt p {
        font-size: clamp(1rem, 2.5vw, 1.25rem);
    }

    .aside_link a {
        font-size: clamp(12px, 4vw, 14px);
    }

    .txt-2 {
        top: 10%;
        left: 27%;
    }

}

@media screen and (max-width: 560px) {
    .hero {
        background-image: url(./images/hero\ img2.jpg);
    }

    .hero_txt {
        left: 25%;
    }

    .txt_bg,
    .aside_img {
        display: none;
    }

    .aside_img-sm,
    .txt_sm {
        display: block;
    }

    .aside_txt {
        top: 20%;
        left: 39%;
    }

    .txt-2 {
        left: 26%;
    }

    .aside_txt h2 {
        font-weight: 700;
        font-size: clamp(20px, 2.5vw, 24px);
    }

    .aside_txt p {
        font-size: clamp(14px, 2.5vw, 18px);
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .section_txt h2 {
        font-size: clamp(18px, 2.5vw, 20px);
    }

    .section_txt p {
        font-size: clamp(14px, 2.5vw, 16px);
    }


}

@media screen and (max-width: 480px) {
    .hero_txt {
        left: 20%;
    }

    .aside_txt {
        top: 20%;
        left: 32%;
    }

    .aside_txt h2 {
        font-weight: 700;
        font-size: clamp(16px, 2.5vw, 20px);
    }

    .aside_txt p {
        font-size: clamp(16px, 2.5vw, 20px);
    }

    .txt-2 {
        left: 20%;
    }
}

@media screen and (max-width: 375px) {
    .hero_txt {
        left: 24%;
    }

    .aside_txt {
        left: 29%;
    }

    .txt-2 {
        left: 13%;
    }

    .section_txt h2 {
        font-size: clamp(14px, 2.5vw, 16px);
    }

    .section_txt p {
        font-size: clamp(10px, 2.5vw, 13px);
    }
}

@media screen and (max-width: 320px) {
    .hero_txt {
        left: 18%;
    }

    /* MAIN  */
    .aside_txt {
        top: 20%;
        left: 28%;
    }

    .aside_txt h2 {
        font-weight: 700;
        font-size: clamp(16px, 2.5vw, 20px);
    }

    .aside_txt p {
        font-size: clamp(13px, 2.5vw, 15px);
    }

    .aside_link a {
        font-size: clamp(12px, 4vw, 14px);
    }

    .txt-2 {
        left: 13%;
    }
}