/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* TOPAV NAVIGATION  */

.topnav {
    display: flex;
    position: relative;
    align-items: center;
    height: 40px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}


nav {
    width: min(100% - 10vw, 120px);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: fixed;
    background-color: #fff;
    width: 100%;
    align-items: center;
}


.nav {
    display: flex;
    justify-content: space-between;
}

.nav_links {
    display: flex;
    gap: 2.5rem;
    display: flex;
    align-items: center;
}


.nav_links img {
    max-width: 100%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* INOUT SEARCH  */
input {
    width: 80px;
    height: 23px;
    border-radius: 10px;
    padding: 4px;
    display: none;
    transition: all 1s;
}

input,
#search__icon,
.logo_img,
.copy {
    cursor: pointer;
}


.searc__field {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row-reverse;
}


@media screen and (max-width: 960px) {
    .nav_links a {
        display: none;
    }
}